@page "/"
@inject NavigationManager NavigationManager


<h1>Gym Tracker</h1>

<MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="handleStartSession">Start Session</MudButton>

@code {
    private void handleStartSession() => NavigationManager.NavigateTo("Session");
}
